name: php 8.0 Fitness Functions
  
on:
  push:
    branches:
      - 'main'
  schedule:
    - cron:  '15 10 * * *' # each day at 10:15 UTC


jobs:
  configured-release-8-0-alpine-is-latest-version:
    name: "Ensure that Alpine is the latest alpine version for release 8.0"
    env:
      LATEST_ALPINE_RELEASE: "3.16.7"    
    runs-on: ubuntu-latest
    steps:
      -  name: Execute
         run: >
             docker run --pull always --rm alpine:3.16 cat /etc/os-release | grep $LATEST_ALPINE_RELEASE

  # packages necessary for release/8.0 branch
  packages-not-available-on-alpine-for-relase-8-0:
    name: Package not available on alpine for php 8.0 in community, yet
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - php8-pecl-pcov
          - php8-pecl-grpc
    steps:
      -   name: Execute
          run: "! docker run --pull always --rm alpine:3.16 apk --no-cache search ${{ matrix.package }} | grep ${{ matrix.package }}"
